CatFacts/.vs
CatFacts/bin
CatFacts/obj
CatFacts/packages
SQLServer/.vs
SQLServer/bin
SQLServer/obj
SQLServer/packages
AirportConditions/.vs
AirportConditions/bin
AirportConditions/obj
AirportConditions/packages
