Samples/CatFacts/.vs
Samples/CatFacts/bin
Samples/CatFacts/obj
Samples/CatFacts/packages
Samples/SQLServer/.vs
Samples/SQLServer/bin
Samples/SQLServer/obj
Samples/SQLServer/packages
Samples/AirportConditions/.vs
Samples/AirportConditions/bin
Samples/AirportConditions/obj
Samples/AirportConditions/packages
Hue/SoureCode/packages
Hue/SoureCode/.vs
Hue/SoureCode/PeakboardExtensionHue/.vs
Hue/SoureCode/PeakboardExtensionHue/bin
Hue/SoureCode/PeakboardExtensionHue/obj
Hue/SoureCode/PeakboardExtensionHue/packages
Hue/SoureCode/HueFunctionPlaygroundConsole/bin
Hue/SoureCode/HueFunctionPlaygroundConsole/obj
Ingres/.vs
Ingres/SourceCode/.vs
Ingres/SourceCode/packages
Ingres/SourceCode/obj
Ingres/SourceCode/bin
Samples/AirportConditions/SourceCode/.vs
Samples/AirportConditions/SourceCode/bin
Samples/AirportConditions/SourceCode/packages
Samples/AirportConditions/SourceCode/obj
Samples/CatFacts/SourceCode/bin
Samples/CatFacts/SourceCode/obj
Samples/CatFacts/SourceCode/packages
Samples/SQLServer/SourceCode/bin
Samples/SQLServer/SourceCode/obj


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
Samples/CatFacts/SourceCode/.vs
Samples/SQLServer/SourceCode/.vs
Ingres/SourceCode/IngresTestConsole/bin
Ingres/SourceCode/IngresTestConsole/obj
Ingres/SourceCode/PeakboardExtensionIngres/bin
Ingres/SourceCode/PeakboardExtensionIngres/obj
Ingres/merker.txt
