<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Braintree" version="5.8.0" targetFramework="net472" />
  <package id="FParsec" version="1.0.2" targetFramework="net472" />
  <package id="FParsec-Pipes" version="0.3.1.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net472" />
  <package id="GraphQL.Client" version="3.2.1" targetFramework="net472" />
  <package id="GraphQL.Client.Abstractions" version="3.2.4" targetFramework="net472" />
  <package id="GraphQL.Client.Abstractions.Websocket" version="3.2.4" targetFramework="net472" />
  <package id="GraphQL.Client.Serializer.Newtonsoft" version="3.2.4" targetFramework="net472" />
  <package id="GraphQL.Net" version="0.3.5" targetFramework="net472" />
  <package id="GraphQL.Primitives" version="3.2.4" targetFramework="net472" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>